@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgVideo{
  background: linear-gradient(81deg, rgba(0,33,99,1) 0%, rgba(148,0,67,1) 100%) !important;
  opacity: 0.95
}

.bg-section-1{
  background: #62439a no-repeat  center center/ cover;
  background-blend-mode: multiply;
  opacity: 85% !important;
  height: 100vh;  
}

/*ANIMAÇÃO BG*/
.animateGradientX {
  animation: gradient-x 5s ease infinite;
  background-size: 400% 400%;
}
  
@keyframes gradient-x {
  0% {
      background-position: 0% 25%;
  }
  25% {
      background-position: 26% 50%;
  };
  50% {
      background-position: 51% 75%;
  }
  75% {
      background-position: 76% 100%;
  }
  100% {
      background-position: 0% 25%;
  }
}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.bgFosco{
  background-image: url(../assets/img/backgrey.png);
  background-repeat: repeat;
}